<div *ngIf="!authService.isLoggedIn()" class="container">
  <form class="form-signin form-group">
    <h2 class="form-signin-heading">请登录</h2>
    <label for="inputUserName">username</label>
    <input id="inputUserName" type="userid" class="form-control" placeholder="用户名" required autofocus #username>
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" type="password" class="form-control" placeholder="口令" required #password>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(username.value, password.value)">登录</button>
    <div class="alert alert-danger" role="alert" *ngIf="authService.message">
      {{ authService.message }}
    </div>
  </form>
</div>
<!-- /container -->
<div *ngIf="authService.isLoggedIn()" class="container">
<app-main [userId]="authService.userId"></app-main>
</div>