<div id="content" class="span10">


  <ul class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <a href="index.html">Home</a>
      <i class="icon-angle-right"></i>
    </li>
    <li>
      <i class="icon-edit"></i>
      <a href="#">学位点基本情况</a>
  </ul>


  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2><i class="halflings-icon white edit"></i><span class="break"></span>学位点基本情况</h2>
        <div class="box-icon">
          <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
          <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
          <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="focusedInput">学位点名称（代码）</label>
              <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="text" value="">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="focusedInput">所在学院</label>
              <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="text" value="">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="selectError3">是否重点学科</label>
              <div class="controls">
                <select id="selectError3">
                  <option>请选择</option>
                  <option>是</option>
                  <option>否</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="focusedInput">重点学科批准时间</label>
              <div class="controls">
                <input class="input-xlarge focused" id="focusedInput" type="text" value="">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="selectError3">授予学位层次</label>
              <div class="controls">
                <select id="selectError3">
                  <option>请选择</option>
                  <option>硕士</option>
                  <option>博士</option>
                  <option>硕、博士</option>
                </select>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">保存</button>
              <button class="btn">取消</button>
            </div>
            </fieldset>
          </form >
        </div>


</div>
    </div>
  </div>
